html, body{
  height: 100%;
}

#particles-js{
  width: 100%;
  height: 100%;
  background-color:black;
}

.container{

    position: fixed;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, 0);
    
}

.jumbotron {
   background: rgba(0, 0, 0, 0.5); 
   height: 100%;
  
}

#questions
{
  color: #009688;
  font-weight: bold;
}

#message{
  color: #FF9800;
  font-weight: bold;  
}

.answers
{
  color: white;
  size: 1.3em;
}

.answers:hover{
  color: crimson; 
  cursor: pointer;
}

#timer{
  color: white;
}

.btn-huge{
    padding: 25px 30px;
    font-size: 1.2em;
    display: block;
    margin: 25px auto;
}

.container > img {
  margin-top: 20px;
  width: 300px;
}


